body {
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  color: #000000;
  background: #ffffff;
  text-align: center;
  text-transform: uppercase;
  min-width: 1200px;
  margin: auto;
 }


a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}


.banner {
  background-image:url("../img/intro-mask.svg"), url("../img/background-index.jpg");
  background-repeat: no-repeat;
  background-position: center 450px, center -82px;
  height: 430px;
  width: 1200px;
  padding-top: 76px;
  background-size: 1200px auto, cover;
}

.main-nav-list,
.booking-form-list,
.list,
.filter-list,
.sort-list,
.sort-buttons {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.main-nav {
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  background: #ffffff;
  font-weight: bold;
  width: 1200px;
  display: flex;
  margin: auto;
  min-height: 56px;
  justify-content: space-between;
}

.main-nav-list a {
  color: #333333
}

.main-nav-list li:nth-of-type(3) {
  letter-spacing: 0.5px;
}

.main-nav-list a:hover {
  color: #81b3d2;
}

.main-nav-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-nav-current {
  color: #766357;
}

.page-wrapper{
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.page-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #000000;
  width: 440px;
  margin:  auto;
  padding: 62px 0 15px 0px;
}

.reasons {
  line-height: 26px;
  color: #333333;
  padding-bottom: 36px;
  letter-spacing: 0.06px;
}

.feature-block {
  background-color: #81b3d2;
  display: flex;
}

.feature-block-name {
  width: 151px;
  font-size: 21px;
  color: #ffffff;
  font-weight: bold;
  line-height: 21px;
  margin: 0px auto;
  padding: 47px 0px 23px 0px;
}

.feature-block-description,
.feature-block-number {
  color: #ffffff;
  line-height: 21px;
  margin: 0px auto;
  padding: 0px;
  padding-top: 21px;
}

.feature-block-description {
  display: block;
  margin: 0px auto;
  width: 320px;
  letter-spacing: 0.2px;
}

.advantage {
  position: relative;
  padding: 143px 50px 67px 50px;;
  width: 33.33333%;
}

.advantages {
  background-color: #00000000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.advantage-name {
  margin-bottom: 28px;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.advantage-description {
  color: #333333;
}

.features {
  background-color: #eeeeee;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  min-height: 256px;
  margin-bottom: 50px;
}

.feature-name {
  width: 150px;
  margin: 15px auto;
  color: #000000;
  font-weight: bold;
  line-height: 21px;
  font-size: 21px;
}

.feature-description,
.feature-number {
  color: #333333;
  line-height: 21px;
}

.feature-description {
  padding-top: 5px;
  display: block;
  margin: 0px 35px 0px 35px;
}

.feature-block-number {
  padding-top: 1px;
}

.booking-headline {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
  padding: 0px;
  margin: 0px;
}

.booking-offer {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  margin: 0px;
  padding: 23px 0px 0px 0px;
}

.booking-wrapper {
  position: relative;
  width: 568px;
  margin: 0 auto;
}


.button {
  display: block;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
  padding: 31px 140px 30px 137px;
  margin-top: 47px;
}

.button:hover,
.button:focus {
  background-color: #604e43;
}

.button:active {
  background-color: #503e33;
  color: #ffffff4c;
}

.booking-form {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow:  0px 7px 15px 0 rgba(0, 1, 1, 0.149);
}

.booking-form-list {
  padding: 55px;
  box-sizing: border-box;
  width: 100%;
}

.arrival {
  position: relative;
  margin-bottom: 29px;
  display: flex;
}

.departure {
  position: relative;
  margin-bottom: 29px;
  display: flex;
}

.calendar {
  border: none;
  background: #f2f2f2;
  position: absolute;
  width: 38px;
  height: 38px;
  right: 0;
  top: 0;
}

.calendar svg {
  fill: #cacaca;
}

.calendar:hover svg,
.calendar:focus svg {
  fill: #000000;
}

.calendar:active svg {
  fill: #81b3d2;
}

.counter {
  width: 100%;
  display: flex;
}

.counter-adults {
  width: 226px;
}

.counter-kids {
  width: 206px;
  margin-left: auto;
}

.counter-adults,
.counter-kids {
  position: relative;
  display: flex;
  align-items: center;
}

.input-wrapper {
  width: 114px;
  position: relative;
  flex: none;
}



.input-wrapper input {
  box-sizing: border-box;
  width: 100%;
}

.counter-kids input,
.counter-adults input {
  padding: 0 38px;
  background-color: #f2f2f2;
  border: none;
  text-align: center;
  height: 38px;
}


.add,
.reduce {
  background-color: #f2f2f2;
  border: none;
  position: absolute;
  width: 38px;
  height: 38px;
}

.add {
  right: 0;
}

.reduce {
  left: 0;
}

.reduce::before {
  cursor: pointer;
  content: "";
  height: 12px;
  width: 3px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #808080;
  transform: translate(-50%, -50%) rotate(90deg);
}

.reduce:hover::before {
  background-color: #000000;
}

.reduce:active::before {
  background-color: rgb(129, 179, 210);
}

.add::before {
  cursor: pointer;
  content: "";
  height: 12px;
  width: 3px;
  position: absolute;
  top: 50%;
  background-color: #808080;
  transform:translate(-50%, -50%) rotate(90deg);
}

.add::after {
  cursor: pointer;
  content: "";
  height: 12px;
  width: 3px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #808080;
}

.add:hover::before,
.add:hover::after {
  background-color: #000000;
}
.add:active::before,
.add:active::after {
  background-color: rgb(129, 179, 210);
}




.booking-date input {
  box-sizing: border-box;
  width: 346px;
  background-color: #f2f2f2;
  border: none;
  padding: 6px 0px 6px 13px;
}

.booking-date input:hover {
  background-color: rgb(235, 235, 235);
}

.booking-date input:focus {
  background-color: #ffffff;
}

.counter-kids .booking-label {
  width: 92px;
  padding-right: 0px;
  text-align: center;
}

.booking-label {
  flex: none;
  position: relative;
  font-size: inherit;
  font-weight: bold;
  line-height: 26px;
  box-sizing: border-box;
  text-align: left;
  width: 112px;
  padding: 6px 10px 6px 0;
}



.booking-form input[type="text"] {
  font: inherit;
  color: #000000;
  font-weight: bold;
  text-transform: inherit;
  line-height: inherit;
}

.find {
  background-color: #81b3d2;
  color: #eeeeee;
  border: none;
  text-transform: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-top: 54px;
  padding: 17px 196px 18px 195px;
}

.find:hover,
.find:focus {
  background-color: #669ec0;
}

.find:active {
  background-color: #5496bd;
  color: #ffffff4c;
  border: none;
}




.interactive-map {
  background-image: url("../img/map.jpg");
  height: 593px;
  width: 100%;
}


.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-footer-opacity {
  background-color: #ffffff;
  opacity: 0.9;
  margin-top: -120px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  font: inherit;
  margin-right: 6px;
}

.footer-social .social-button:last-child {
  margin-right: 0px;
}

.social-button:hover,
.social-button:focus {
  background-color:#669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path{
  fill: #ffffffab;
}


.hashtag {
  width: 33.33333%;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.footer-social {
  width: 33.33333%;
  display: flex;
  justify-content: center;
}

.developer {
  display: flex;
  width: 33.33333%;
  align-items: center;
  justify-content: center;
 }

.footer-developer {
  display: block;
  line-height: 26px;
  margin-top: 45px;
  margin-bottom: 47px;
}

.developer-info {
  display: block;
  margin-left: 8px;
  margin-top: 3px;
}

.developer-info:hover path,
.developer-info:focus path {
  fill:#81b3d2;
}

.developer-info:active path {
  fill:#bdbbbc;
}

.filter {
  background-image: url("../img/catalog-background.jpg");
  background-position: center -310px ;
  display: flex;
  justify-content: space-between;
}

.price-select {
  margin-top: 27px;
  margin-right: 70px;
}



.filter fieldset {
  border: none;
  padding: 0px;
}

.filter legend {
  font-size: 16px;
  text-align: left;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
  padding: 27px 0px 24px 0px;
  letter-spacing: 0.3px;
}

.options-list:nth-of-type(1) {
  width: 20%;
  padding: 0px 12px 8px 69px;
}

.options-list:nth-child(2) {
  margin-right: auto;
}

.filter-option {
  position: relative;
  color: #ffffff;
  line-height: 21px;
  text-align: left;
  padding-bottom: 25px;
}

.option-label {
  padding-left: 40px;
}

.checkbox-indicator {
  position: absolute;
  left: 0px;
  width: 25px;
  height: 23px;
}


.filter-option input[type="checkbox"]:checked + .checkbox-indicator {
  fill-opacity: 0;
  stroke-opacity: 0;
  background-image: url("../img/checkbox-on.svg");
}

.catalog-submit {
  margin: 31px 0px 0px 83px;
  display: block;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  padding: 6px 34px;
  text-transform: inherit;
}

.catalog-submit:hover,
.catalog-submit:focus {
  background-color: #ffffff;
  color: #000000;
}

.price-controls {
  position: relative;
  height: 32px;
  width: 314px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
}

.price-controls::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  color: #eeeeee;
  margin-top: 5px;
  font-size: 14px;
}

.price-controls .min-price {
  text-align: left;
  width: 108px;
}

.price-controls .max-price {
  transform: translateX(50%);
  width: 75px;

}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.range .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-control {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-control:hover {
  background: #1c4f80;
}

.range-min {
  left: 0;
}

.range-max {
  left: 80%;
}

.result,
.sort-list {
  display: flex;
}

.result {
  padding: 29px 0px 32px 0px;
  display: flex;
}

.buttons {
  border: none;
  border-bottom: 1px dotted  #81b3d2;
  color: rgba(0, 0, 0, 0.3);
  padding: 0;
  background: none;
  text-transform: inherit;
}

.buttons:hover,
.buttons:focus {
  color: #81b3d2;
  outline: transparent;
}

.buttons:active {
  border:none;
  color: black;
  text-decoration: none;
  outline: transparent;
}


.sort-price {
  margin-left: 40px;
}

.sort-type {
  margin: 0 32px;
}

.sort-buttons {
  margin-left: auto;
  margin-right: 79px;
  display: flex;
  padding-top: 5px;
  }

.decreasing,
.increasing {
  height: 20px;
  width: 11px;
}

.sort-button {
  background-color: transparent;
  border: none;
  outline: none;
}

.decreasing {
  margin-left: 12px;
}

.sort-button polyline,
.sort-button polygon {
  fill: #cacaca;
}

.sort-button:focus polyline,
.sort-button:hover polyline,
.sort-button:focus polygon,
.sort-button:hover polygon {
  fill: black;
}

.sort-button:active polyline,
.sort-button:active polygon {
  fill: rgb(129, 179, 210);
}

.list {
  display: flex;
  flex-direction: column;
}

.hotel {
  display: flex;
  border-bottom: 1px solid #cacaca;
  border-top:  1px solid #cacaca;
  margin-top: -1px;
}

.hotel-info,
.hotel-name {
  padding: 0px;
  margin: 0px;
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.cost {
  background-color: transparent;
  color: #ffffff ;
}

.cost-text {
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  text-align: left;
  margin-bottom: 10px;
}

.count {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  margin: 0px 0px 0px 72px;
}

.sort {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  padding-top: 7px;
}

.sort-types {
  margin: 0px 0px 0px 49px;
}

.hotel-img {
  display: block;
  flex: none;
  padding: 30px 0px 25px 72px;
}

.hotel-img img {
  height: auto;
}

.hotel-description {
  flex-grow: 1;
  margin-left: 30px;
}

.hotel-name {
  margin: 23px 0px 0px 0px;
}

.hotel-name a {
  display: block;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  text-align: left;
  margin: 0px 0px 10px 0px;
  letter-spacing: 0.2px;
}

.info-block {
  display: flex;
  flex-wrap: wrap;
  width: 300px;

}

.hotel-info {
  flex: none;
  display: block;
  width: 100px;
  margin: 0px 17px 0px 0px;
  padding: 0px 0px 12px 0px;
  text-align: left;
}


.button-blue {
  flex: none;
  display: inline-block;
  padding :4px 17px 3px 17px;
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
}

.button-blue:hover {
  background-color: #669ec0;
}

.button-blue:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.298);
}

.button-brown {
  display: inline-block;
  padding :4px 16px 3px 16px;
  margin-left: 6px;
  color: #ffffff;
  background-color: #766357;
  text-align: left;
  font-weight: bold;
}

.button-brown:hover {
  background-color: #604e43;
}

.button-brown:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.298);
}

.hotel-stats {
  margin-left: auto;
  padding-right: 70px;
}

.rating {
  display: block;
  padding: 3px 13px 3px 16px;
  background-color: #f2f2f2;
}

.stars {
  margin-top: 30px;
  margin-bottom: 43px;
  margin-left: auto;
  height: 20px;
  background: url(../img/star.svg) space 0px 0;
}

.four-stars {
  width: 89px;
}

.three-stars {
  width: 65px;
}


.two-stars {
  width: 40px;
}
/*----Сетка----*/



.main-nav-list {
  position: relative;
  display: flex;
  padding: 0px 72px;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  min-height: 56px;
}

.main-nav-list li {
  flex: none;
  width: 240px;
}

.main-nav-list li:nth-child(2) {
  margin-right: auto;
  letter-spacing: 0.1px;
}

.main-nav-list li:nth-child(2),
.main-nav-list li:first-child {
  text-align: left;
}

.main-nav-list li:nth-last-child(2),
.main-nav-list li:last-child {
  text-align: right;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}




.feature-block-info {
  display: flex;
  flex-direction: column;
  width: 33.33333%;
  text-align: center;
  box-sizing: border-box;
}

.feature-block-img {
 width: 66.66666%;
}

.feature-block-img img {
  display: block;
  width: 100%;
  height: auto;
}



.advantage::before {
  position: absolute;
  top:29%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  height: 72px;
  width: 75px;
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
}

.advantage:nth-of-type(2)::before {
  position: absolute;
  top:29%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  height: 70px;
  width: 74px;
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
}

.advantage:nth-of-type(3)::before {
  position: absolute;
  top:29%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  height: 76px;
  width: 64px;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
}




.feature {
  display: flex;
  flex-direction: column;
  width: 33.33333%;
  padding-top: 30px;
  padding-bottom: 57px;
}

