body {
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  color: #000000;
  background: #ffffff;
  text-align: center;
  text-transform: uppercase;
  min-width: 1200px;
  margin: auto;
 }


a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}


.banner {
  background-image:url("../img/intro-mask.svg"), url("../img/background-index.jpg");
  background-repeat: no-repeat;
  background-position: center 450px, center -56px;
  height: 430px;
  width: 1200px;
  padding-top: 76px;
  background-size: 1200px auto, cover;
}

.main-nav-list,
.booking-form-list,
.list,
.filter-list,
.sort-list,
.sort-buttons {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.main-nav {
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  background: #ffffff;
  font-weight: bold;
  width: 1200px;
  display: flex;
  margin: auto;
  min-height: 56px;
  justify-content: space-between;
}

.main-nav-list a {
  color: #333333
}

.main-nav-list a:hover {
  color: #81b3d2;
}

.main-nav-list a:active {
  color: #0000004c;
}

.site-nav-current a {
  color: #766357;
}

.page-wrapper{
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.page-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #000000;
  width: 440px;
  margin:  auto;
  padding-top: 62px;
  padding-bottom: 15px;
}

.reasons {
  line-height: 26px;
  color: #333333;
  padding-bottom: 36px;
}

.feature-block {
  background-color: #81b3d2;
  display: flex;
}

.feature-block-name {
  font-size: 21px;
  color: #ffffff;
  font-weight: bold;
  line-height: 21px;
  margin: 0px;
  padding: 0px;
}

.feature-block-description,
.feature-block-number {
  color: #ffffff;
  line-height: 21px;
  margin: 0px;
  padding: 0px;
  padding-top: 25px;
}

.advantage {
  padding: 60px 50px;
  width: 33.33333%;
}

.advantages {
  background-color: #00000000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.advantage-name {
  font-size: 21px;
  font-weight: bold;
}

.advantage-description {
  color: #333333;
}

.features {
  background-color: #eeeeee;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  min-height: 256px;
  margin-bottom: 57px;
}

.feature-name {
  color: #000000;
  font-weight: bold;
  line-height: 21px;
  font-size: 21px;
}

.feature-description,
.feature-number {
  color: #333333;
  line-height: 21px;
}

.feature-description {
  display: block;
  margin: 10px 35px 10px 35px;
}

.booking-headline {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
  padding: 0px;
}

.booking-offer {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.booking-wrapper {
  position: relative;
  width: 568px;
  margin: 0 auto;
}


.button {
  display: block;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
  padding: 30px 140px 30px 137px;
  margin-top: 55px;
}

.button:hover,
.button:focus {
  background-color: #604e43;
}

.button:active {
  background-color: #503e33;
  color: #ffffff4c;
}

.booking-form {
  position: absolute;
  top: 100%;
}

.booking-form-list {
  width: 568px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow:  0px 7px 15px 0 rgba(0, 1, 1, 0.149);
}

.arrival {
  position: relative;
  margin-top: 55px;
  margin-bottom: 29px;
}

.departure {
  position: relative;
  margin-bottom: 30px;
}

.calendar {
  border: none;
  background: transparent;
  position: absolute;
  width: 30px;
  height: 30px;
  background: url("../img/calendar.svg") no-repeat 50% 50%;
  right: 0;
  top: 0;
}

.counter {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.counter-adults,
.counter-kids {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(50% - 10px);
}

.input-wrapper {
  width: 114px;
  position: absolute;
}

.counter-adults .input-wrapper {
  left: 161px;
}

.counter-kids .input-wrapper {
  left: 113px;
}

.input-wrapper input {
  box-sizing: border-box;
  width: 100%;
}

.counter-kids input,
.counter-adults input {
  background-color: #f2f2f2;
  border: none;
  text-align: center;
  height: 38px;
}


.add,
.reduce {
  background-color: #f2f2f2;
  border: none;
  position: absolute;
  width: 38px;
  height: 38px;
}

.add {
  right: 0;
}

.reduce {
  left: 0;
}

.reduce::before {
  cursor: pointer;
  content: "";
  height: 12px;
  width: 3px;
  position: absolute;
  top: 35%;
  background-color: #808080;
  transform: rotate(90deg);
}

.reduce:hover::before {
  background-color: #000000;
}

.reduce:active::before {
  background-color: #81b3d2;
}

.add::before {
  cursor: pointer;
  content: "";
  height: 12px;
  width: 3px;
  position: absolute;
  top: 35%;
  background-color: #808080;
  transform: rotate(90deg);
}

.add::after {
  cursor: pointer;
  content: "";
  height: 12px;
  width: 3px;
  position: absolute;
  top: 35%;
  background-color: #808080;
}

.add:hover::before,
.add:hover::after {
  background-color: #000000;
}
.add:active::before,
.add:active::after {
  background-color: #81b3d2;
}




.booking-date input {
  width: 346px;
  margin-left:21px;
  background-color: #f2f2f2;
  border: none;
  padding: 6px 0px 6px 13px;
}

.booking-date input:focus {
  background-color: #ffffff;
}

.booking-label {
  position: relative;
  font-size: inherit;
  font-weight: bold;
  line-height: 26px;
}

.counter .booking-label {
  margin-left: 50px;
}

.booking-form input[type="text"] {
  font: inherit;
  color: #000000;
  font-weight: bold;
  text-transform: inherit;
  line-height: inherit;
}

.find {
  background-color: #81b3d2;
  color: #eeeeee;
  border: none;
  text-transform: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding: 17px 196px 22px 195px;
  margin-top: 54px;
  margin-bottom: 55px;
}

.find:hover,
.find:focus {
  background-color: #669ec0;
}

.find:active {
  background-color: #5496bd;
  color: #ffffff4c;
  border: none;
}




.interactive-map {
  background-image: url("../img/map.jpg");
  height: 593px;
  width: 100%;
}


.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-footer-opacity {
  background-color: #ffffff;
  opacity: 0.9;
  margin-top: -120px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  display: flex;
  font: inherit;
  margin-right: 6px;
}

.social-button:hover,
.social-button:focus {
  background-color:#669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path{
  fill: #ffffffab;
}


.hashtag {
  width: 33.33333%;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.footer-social {
  width: 33.33333%;
  display: flex;
  justify-content: center;
}

.developer {
  display: flex;
  width: 33.33333%;
  align-items: center;
  justify-content: center;
 }

.footer-developer {
  display: block;
  line-height: 26px;
  margin-top: 47px;
  margin-bottom: 47px;
}

.developer-info {
  display: block;
  margin-left: 6px;
}

.developer-info:hover path,
.developer-info:focus path {
  fill:#81b3d2;
}

.developer-info:active path {
  fill:#bdbbbc;
}

.filter {
  background-image: url("../img/catalog-background.jpg");
  background-position: center -310px ;
  display: flex;
  justify-content: space-between;
}

.price-select {
  align-self: center;
  margin-right: 70px;
}



.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  text-align: left;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
  padding: 25px 0px 25px 0px;
}

.options-list:not(:nth-of-type(2)) {
  width: 19%;
  margin-left: 60px;
}

.options-list:nth-child(2) {
  margin-right: auto;
}

.filter-option {
  position: relative;
  color: #ffffff;
  line-height: 21px;
  text-align: left;
  padding-bottom: 30px;
}

.option-label {
  padding-left: 40px;
}

.checkbox-indicator {
  position: absolute;
  left: 0px;
  width: 25px;
  height: 23px;
}

.filter-option input[type="checkbox"]:checked + .checkbox-indicator {
  fill-opacity: 0;
  stroke-opacity: 0;
  background-image: url("../img/checkbox-on.svg");
}

.catalog-submit {
  margin: 0 auto;
  display: block;
  background-color: rgba(255, 255, 255, 0);
  border:2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  padding: 6px 35px;
  text-transform: inherit;
}

.catalog-submit:hover,
.catalog-submit:focus {
  background-color: #ffffff;
  color: #000000;
}

.price-controls {
  position: relative;
  height: 32px;
  width: 314px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
}

.price-controls::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  color: #eeeeee;
  margin-top: 5px;
  font-size: 14px;
}

.price-controls .min-price {
  text-align: left;
  width: 100px;
}

.price-controls .max-price {
  transform: translateX(50%);
  width: 80px;

}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.range .scale {
  height: 2px;
  background: #ffffff4c;
}

.range .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-control {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-control:hover {
  background: #1c4f80;
}

.range-min {
  left: 0;
}

.range-max {
  left: 80%;
}

.result,
.sort-list {
  display: flex;
}

.result {
  display: flex;
  align-items: center;
}

.buttons {
  text-decoration: dotted underline #81b3d2;
  color: #0000004c;
  border: none;
  background: none;
  text-transform: inherit;
}

.buttons:hover,
.buttons:focus {
  color: #81b3d2;
  outline: transparent;
}

.buttons:active {
  color: black;
  text-decoration: none;
  outline: transparent;
}

.sort-price {
  margin-left: 40px;
}

.sort-type {
  margin: 0 33px;
}

.sort-buttons {
  margin-left: auto;
  margin-right: 73px;
  display: flex;
  }

.decreasing {
  margin-left: 12px;
}

.decreasing polyline {
  fill: #cacaca;
}

.decreasing:hover polyline,
.decreasing:focus polyline {
  fill: black
}

.decreasing:active polyline {
  fill: #81b3d2;
}

.increasing polygon {
  fill: #cacaca;
}

.increasing:hover polygon,
.increasing:focus polygon {
  fill: black;
}

.increasing:active polygon {
  fill: #81b3d2;
}

.list {
  display: flex;
  flex-direction: column;
}

.hotel {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cacaca;
  border-top:  1px solid #cacaca;
  margin-top: -1px;
}

.hotel-info,
.hotel-name {
  padding: 0px;
  margin: 0px;
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: #0000004c;
}

.cost {
  background-color: transparent;
  color: #ffffff ;
}

.cost-text {
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  text-align: left;
  margin-bottom: 10px;
}

.count {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  margin-left: 72px;
}

.sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
}

.sort-types {
  margin: 0px 0px 0px 49px;
}

.hotel-img {
  display: block;
  flex: none;
  margin: 30px 0px 30px 72px;
}

.hotel-img img {
  height: auto;
}

.hotel-description {
  flex-grow: 1;
  margin-left: 30px;
}

.hotel-name {
  margin: 0;
}

.hotel-name a {
  display: block;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  text-align: left;
  margin: -10px 0px 10px 0px;
}

.info-block {
  display: flex;
  flex-wrap: wrap;
  width: 300px;

}

.hotel-info {
  flex: none;
  display: block;
  width: calc(50% - 50px);
  margin: 0px 20px 0px 0px;
  padding: 0px 0px 12px 0px;
  text-align: left;
}

.hotel-info:last-of-type {
  margin-left: -2px;
}


.button-blue {
  display: block;
  padding :5px 17px 5px 17px;
  color: #ffffff;
  background-color: #81b3d2;
  text-align: left;
  font-weight: bold;
}

.button-blue:hover {
  background-color: #669ec0;
}

.button-blue:active {
  background-color: #5496bd;
  color: #ffffff4c;
}

.button-brown {
  display: inline-block;
  padding :5px 16px 5px 16px;
  margin-left: 6px;
  color: #ffffff;
  background-color: #766357;
  text-align: left;
  font-weight: bold;
}

.button-brown:hover {
  background-color: #604e43;
}

.button-brown:active {
  background-color: #503e33;
  color: #ffffff4c;
}

.hotel-stats {
  margin-left: auto;
  padding-right: 70px;
}

.rating {
  display: block;
  padding: 3px 13px 3px 16px;
  background-color: #f2f2f2;
}

.stars {
  margin-bottom: 47px;
  margin-left: auto;
  min-height: 17px;
  background: url(../img/star.svg) space 19px 0;
}

.four-stars {
  width: 85px;
}

.three-stars {
  width: 65px;
}


.two-stars {
  width: 40px;
}
/*----Сетка----*/



.main-nav-list {
  position: relative;
  display: flex;
  padding: 0px 70px;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  min-height: 56px;
}

.main-nav-list li {
  flex: none;
  width: 240px;
}

.main-nav-list li:nth-child(2) {
  margin-right: auto;
}

.main-nav-list li:nth-child(2),
.main-nav-list li:first-child {
  text-align: left;
}

.main-nav-list li:nth-last-child(2),
.main-nav-list li:last-child {
  text-align: right;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}




.feature-block-info {
  display: flex;
  flex-direction: column;
  width: 33.33333%;
  padding: 50px 44px;
  text-align: center;
  box-sizing: border-box;
}

.feature-block-img {
 width: 66.66666%;
}

.feature-block-img img {
  display: block;
  width: 100%;
  height: auto;
}



.advantage::before {
  display: block;
  content: "";
  height: 72px;
  width: 75px;
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
}

.advantage:nth-of-type(2)::before {
  display: block;
  content: "";
  height: 70px;
  width: 74px;
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
}

.advantage:nth-of-type(3)::before {
  display: block;
  content: "";
  height: 76px;
  width: 64px;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
}




.feature {
  display: flex;
  flex-direction: column;
  width: 33.33333%;
  padding-top: 30px;
  padding-bottom: 57px;
}

